/*
 * Map Arduino R3 + arduino_spi onto feather m4 express
 *
 *   Arduino R3 | Feather pin | SAMD21 GPIO | Shield signal
 *   -----------+-------------+-------------+--------------
 *   D4         | D5          | PA16        | Unused SDHC CS
 *   D7         | D6          | PA18        | Busy
 *   D8         | A3          | PB9         | Reset
 *   D9         | D9          | PA19        | DC
 *   D10        | D10         | PA20        | E-paper CS
 *   MOSI       | D24         | PB23        | sercom1 MOSI
 *   SCK        | D25         | PA17        | sercom1 SCK
 */

#include <zephyr/dt-bindings/gpio/arduino-header-r3.h>

/ {
	aliases {
		gnss = &gnss;
	};

	arduino_header: connector {
		compatible = "arduino-header-r3";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map =
			<ARDUINO_HEADER_R3_D4  0 &porta 16 0>,
			<ARDUINO_HEADER_R3_D7  0 &porta 18 0>,
			<ARDUINO_HEADER_R3_D8  0 &portb  9 0>,
			<ARDUINO_HEADER_R3_D9  0 &porta 19 0>,
			<ARDUINO_HEADER_R3_D10 0 &porta 20 0>;
	};
};

&sercom5 {
	current-speed = <9600>;

	gnss: gnss-nmea-generic {
		compatible = "gnss-nmea-generic";
	};
};

arduino_spi: &sercom1 {
	/* Board DTS has dipo/dopo swapped: PB23 is physically MOSI (PAD3),
	 * PB22 is MISO (PAD2). dopo=2 → MOSI=PAD3, SCK=PAD1; dipo=2 → MISO=PAD2 */
	dipo = <2>;
	dopo = <2>;
};
