/*
 * Map Arduino R3 + arduino_spi onto feather m0 lora
 *
 *   Arduino R3 | Feather pin | SAMD21 GPIO | Shield signal
 *   -----------+-------------+-------------+--------------
 *   D4         | D5          | PA15        | Unused SDHC CS
 *   D7         | D6          | PA20        | Busy
 *   D8         | A3          | PA4         | Reset
 *   D9         | D9          | PA7         | DC
 *   D10        | D10         | PA18        | E-paper CS
 *   MOSI       | D23         | PB10        | sercom4 MOSI
 *   SCK        | D24         | PB11        | sercom4 SCK
 */

#include <zephyr/dt-bindings/gpio/arduino-header-r3.h>

/ {
	arduino_header: connector {
		compatible = "arduino-header-r3";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map =
			<ARDUINO_HEADER_R3_D4  0 &porta 15 0>,
			<ARDUINO_HEADER_R3_D7  0 &porta 20 0>,
			<ARDUINO_HEADER_R3_D8  0 &porta  4 0>,
			<ARDUINO_HEADER_R3_D9  0 &porta  7 0>,
			<ARDUINO_HEADER_R3_D10 0 &porta 18 0>;
	};
};

arduino_spi: &sercom4 {};
